POSTGRES_PRISMA_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
POSTGRES_URL_NON_POOLING="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

PUSHER_APP_ID=""
PUSHER_SECRET=""
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
